#panel, #date, #Pad, #pdf-canvas {
  border:2px solid black; margin: 5px;
}


#panel-left, #panel-main, #panel-right{padding: 5px;}
#panel-left{float: left;}
#panel-right{text-align: right;}
#panel-right p{margin: 0;}
#panel-main{text-align: center;}

#Pad {
  float: left;
  width: 48%;
}

#pdf-canvas {
  width: 49%;
}

